*.txt
*.png
*.tgz
*.xlsx
FUMA_downloads/
FUMA_dowloads_all_tissue/
Genes/
genes_per_dataframe/
genes_per_disorder_new/
KEGG/
output/
SNPs/
Thesis/
Wiki_pathways/
*.tsv
*.csv
*.jpg
*.tbl
.idea/
.Rproj.user
*.zip
genes_to_EnrichR/
FinnGen/
eqtl/
*.stats





